<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ALTO MAIPO</title>

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/user-form.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/form-error.css}">
<!-- DATA TABLE -->

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>

<body>
	<div th:replace="fragments/menu :: menu "></div>
	<div class="card">
		<input class="form-control" type="hidden" id="llamado"
		th:value="${llamado}">
		<div class="card-header">
			<h4>Listado de Transportes Disponibles</h4>
		</div>
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">ID Proceso</th>
				<th scope="col">Nombre Producto</th>
				<th scope="col">Refrigerado</th>
				<th scope="col">Peso Total (kg)</th>
				<th scope="col">Volumen Total (m2)</th>
				<th scope="col">Fecha Llegada</th>
				<th scope="col">Transportar</th>
				<th scope="col">Finalizar Transporte</th>
				<th scope="col">Cancelar Transporte</th>

			  </tr>
			</thead>
			<tbody>
				<tr th:each="detalleProceso : ${listaProductosProceso}">
					<td><span th:text="${detalleProceso.idProceso}"></span></td>
					<td><span th:text="${detalleProceso.nombreProducto}"></span></td>
					<td><span th:text="${detalleProceso.glosaRefrigerado}"></span></td>
					<td><span th:text="${detalleProceso.pesoProducto}"></span></td>
					<td><span th:text="${detalleProceso.volumenProducto}"></span></td>
					<td><span th:text="${detalleProceso.fechaLlegada}"></span></td>
					<td><button type="button" class="btn btn-primary" th:data-idProceso="${detalleProceso.idProceso}" data-toggle="modal" data-target="#modalConfirmacionTransporte" onclick="actualizaEnTransporte(this.getAttribute('data-idProceso'))">
						Transportar
					  </button></td>
					<td><button type="button" class="btn btn-success" data-dismiss="modal">Transporte Completado</button>
					<td><button type="button" class="btn btn-danger">Transporte Cancelado</button></td>
				</td>
				</tr>
			</tbody>
		  </table>
	</div>
</body>
<div class="modal fade" id="modalConfirmacionTransporte" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacionTransporte" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Transporte</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <center>Transporte en Proceso...</center>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Transporte Cancelado</button>
		  <button type="button" class="btn btn-success">Transporte Completado</button>
		</div>
	  </div>
	</div>
  </div>
	<script th:src="@{/js/lib/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/lib/jquery-ui.js}" type="text/javascript"></script>
	<script th:src="@{/js/proceso/actualizaEstadoProceso.js}"} type="text/javascript"></script> 
</html>