<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	
	<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">
	
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#userList').DataTable();
	    } );
	</script>
</head>
<body>
	<header>
	<div th:fragment="menu">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
            <div class="container-fluid">
              <a class="navbar-brand" href="./home" ><img th:src="@{/img/logo-feriavirtual.png}	" width="150" height="37.5" alt="">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                  <a class="nav-link active" aria-current="page" th:if="${perfil == 1 }" th:href="@{/administracionUsuarios}">Administración de Usuarios</a>
                  <a class="nav-link active" aria-current="page" th:if="${perfil == 1 }" th:href="@{/administracionProcesos}">Administración de Procesos</a>
                  <a class="nav-link active" aria-current="page" th:if="${perfil == 1 }" th:href="@{/administracionContratos}">Administración de Contratos</a>
				  <a class="nav-link active" aria-current="page" th:if="${perfil == 1 }" th:href="@{/administracionProductos}">Administración de Productos</a>
				  <a class="nav-link active" aria-current="page" th:if="${perfil == 1 || perfil == 5 }" th:href="@{/informeVenta}">Informes</a>
				  <!-- <a class="nav-link active" aria-current="page" th:href="@{/InformeVentaExterna">Informe Venta Externa</a> -->
				  <a class="nav-link active" aria-current="page" th:if="${perfil == 1 || perfil == 2 }" th:href="@{/homeProductor}">Ver Procesos </a>
				  <a class="nav-link active"  aria-current="page" th:if="${perfil == 8 || perfil == 3 }" th:href="@{/homeTransportista}">Ver Transportes Disponibles</a>
				</div>
				<a type="button" class="btn btn-danger" th:href="@{/logout}" style="position:absolute; top:15; right:0;">Cerrar Sesión</a>
              </div>
            </div>
          </nav>
      </div>
	</header>
</body>
</html>